.item {
  flex-basis: calc(40% - 0.0rem);
  flex-grow: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: initial;
  height: 8vh;
  width: 4vh;
  text-align: start;
}
#contenedor-lista-reportes {
  border-radius: 25px;
}


  




