
.item
{
 flex-basis: calc(40% - 0.0rem); /* 1rem es el margen que quieres mantener entre los elementos */
 height: 8vh;
 text-align:center;
 flex-grow: 1;

  white-space: nowrap;
  text-overflow: ellipsis; 
  width: 2000px;
}


.list-item-container {
  display: flex;
  border-radius: 15px;
  justify-content: space-between;

}


Administrador .css

.columna-derecha
{
   width: 800px !important;
     height: 650px !important; 
    
}


.contenedorss
{

   min-width: 180vh;
   

    }