.opciones {
  width: 260px !important;
  border-radius: 15px !important;
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.3s, transform 0.3s;
  padding: 0 10px;
  font-size: 15px !important;
  border: none; /* Elimina el borde */
  display: flex;
}

.opciones:focus {
  outline: none;
  box-shadow: none;
}

.opciones:hover {
  background-color: #e2e6ea;
  transform: scale(1.05);
}

.opciones:not(:checked) {
  /* Estilos para botones no seleccionados */
  border: none;
  box-shadow: none;
  background-color: #f8f9fa;
}

.contenedor-botones {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 12vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
  height: 80vh;
}


.texto {
  display: flex;
  justify-content: flex-start; /* Alinea el texto a la izquierda */
  align-items: center;
  margin-left: 5px; /* Añade un margen entre el logo y el nombre */
}

.opciones .logo {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.opciones .name {
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.contenedor-botones{
  background-color:rgba(250, 250, 250, 0.377);
  height: 80vh;
  border-radius: 20px;
  padding: 1vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2); /* sombra */

}

