
  .lista-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  .botones-stack {
    height: 5vh;
    width: 30vh;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: 1px solid #ccc;
  }
  
  .contenedor-formulario {
    border-radius: 30px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
     background-color: rgba(250, 250, 250, 0.87);
     padding: 20px;
     border: 1px solid #ccc;
  }
  
  .fila-botones {
    margin-top: 9vh;
  }

  .pickers{
    width: 300px;
    text-align: center;
    border-radius: 15px;
    border-color: blue;
  }
  
  .alerta {
    border-radius: 15px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
    padding: 15px 20px;
    border: none; /* Sin borde */
    font-weight: bold;
    
  }
  .botones-stack2 {
    height: 5vh;
    width: 30vh;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: 1px solid #ccc;
  }
  
  .contenedor {
    max-height: 125px;
    width: 0%;
    max-width: 200px;
    margin: 50px auto;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(209, 209, 209, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
  }
  
  label {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 14px;
    color: #000000;
  }
  
  .grupo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .MuiInputBase-input.MuiInput-input {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #listas {
    border-radius: 25px;
  }
  
 
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    overflow: scroll;
    max-height: 55vh;
  }
  

  .botones {
    height: 6vh;
    width: 23vh;
    border-radius: 15px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
    padding: 10px 20px;
    border: none; /* Sin borde */
    color: #333333; /* Color de texto más oscuro */
    font-size: 15px !important; /* Tamaño de fuente más pequeño */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    white-space: normal; /* Permite el salto de línea */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    display: flex; /* Permite el contenido multilínea */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
  }

 
  
  .botoness {
    height: 5vh;
    width: 25vh;
    align-self: flex-end;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
 



  .overview-container {
    background-color: rgba(250, 250, 250, 0.377);
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .overview-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .lista-item {
    padding: 10px 0;
  }
  
  .lista-item:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .lista-item:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .botones-medio{
    padding: 150px;
  }

  .sss
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .margen
  {
    margin-right: 1vh;
    margin-top: 4vh
  }

  .parrafo {
    word-wrap: break-word;
    margin: 0;
    text-align: left;
    font-size: 16px;
    max-height: 22vh !important; /* Altura máxima antes de habilitar el scroll */
    overflow-y: auto; /* Habilitar el scroll vertical cuando se supera la altura máxima */
  }
  

  .parrafo-placeholder {
    opacity: 0.5; /* Ejemplo de transparencia */
    /* Otros estilos para los campos no seleccionados */
  }

  .parrafo::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  .parrafo::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
  }
  
  .parrafo::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (barra deslizante) */
  }
  
  .parrafo::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb en hover */
  }


  
  