  .parrafodepurador {
    word-wrap: break-word;
    margin: 0;
    text-align: left;
    font-size: 16px;
    max-height: 34vh !important; /* Altura máxima antes de habilitar el scroll */
    overflow-y: auto; /* Habilitar el scroll vertical cuando se supera la altura máxima */
  }
  

  .parrafodepurador-placeholder {
    opacity: 0.5; /* Ejemplo de transparencia */
    /* Otros estilos para los campos no seleccionados */
  }

  .parrafodepurador::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  .parrafodepurador::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
  }
  
  .parrafodepurador::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (barra deslizante) */
  }
  
  .parrafodepurador::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb en hover */
  }


  
  